/* 
    General Styles
*/

.starWarsLogo {
    width: 70px;
    height: 70px;
}

.detailsImg {
    max-width: 100%;

}

.moreDetails {
    color: crimson;
    font-size: 1.2rem;
    font-weight: 500;
}

.link {
    color: blue
}

.link:hover {
    text-decoration: underline;
}

.delete:hover {
    background-color: black;
    color: white;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px     rgba(0,0,0,0.3); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 8px     rgba(0,0,0,0.8); 
    color: lightgray
}